.phonebook {
  max-width: 1000px;
  min-width: 520px;
  margin: 30px auto;
  border-radius: 10px;
  background: #ebf37d;
  box-shadow: -16px -16px 28px rgb(26, 173, 231);
}

.container {
  margin: 0 auto;
  padding: 15px 20px;
}
